/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
.obal{
    width: auto;
}
.hlavicka {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;
    font-weight: 300;
    color: #25133d;
}
.hlavicka p {
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}
.vlastnosti-aplikace {
    display: flex;
    flex-basis: 360px;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}
.vlastnosti-aplikace li {
    list-style: none;
    padding-left: 0;
}
.predstaveni-aplikace {
    background-image: url(images/pozadi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #e5e5e5;
    padding: 1.2rem;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-weight: 300;
}
h3 {
    margin: 0.6rem;
}
.mobil {
    display: none;
}
.tlacitka {
    display: flex;
}
.tlacitka a {
    text-decoration: none;
    color: #e5e5e5;
    border: 0.1rem solid #e5e5e5;
    border-radius: 0.3rem;
    padding: 0.7rem 1.4rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex: 1;

}
.modre-tlacitko {
    background-color: #48418e;
    margin-right: 1rem;
}
.popis-aplikace {
    text-align: center;
    padding: 1.2rem;
    color: #48418e;
}
.popis-aplikace p {
    color: #25133d;
}
.paticka {
    text-align: center;
    background-color: #48418e;
    color: #e5e5e5;
    font-size: 0.9rem;
}
.paticka p {
    margin: 0;
    padding: 0.5rem;
}
