/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
:root {
    --text-na-pozadi: #ffffff;
    --tmavy-text: #25133d;
    --svetly-text: #48418e;
}
.obal {
    width: auto;
    max-width: 960px;
}
.hlavicka {
    display: flex;
    flex-wrap: wrap;   
    font-weight: 300;
    font-size: 0.9rem;
}
.hlavicka-tucne {
    font-weight: 700;
    text-transform: uppercase;
}
.hlavicka a {
    display: block;
    text-decoration: none;
    color: var(--tmavy-text);
    min-width: 50%;
    min-height: 40px;
    text-align: center;
    padding: 0.5rem 0.9rem;
    flex: 1;
}
.predstaveni-aplikace {
    background-image: url(images/pozadi.jpg);
    background-repeat: no-repeat;
    background-position: left;
    color: var(--text-na-pozadi);
    padding: 1rem 1.3rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}
.predstaveni-aplikace p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
}
h3 {
    font-size: 1.4rem;
}
.mobil {
    display: none;
}
.tlacitka a {
    display: block;
    text-decoration: none;
    color: var(--text-na-pozadi);
    border: 0.1rem solid var(--text-na-pozadi);
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.555);
    text-align: center;
    margin: 1rem 0;
}
.modre-tlacitko {
    background-color: var(--svetly-text);
}
.popis-aplikace {
    text-align: center;
    padding: 1.2rem 0;
    color: var(--svetly-text);
    padding: 0 1.2rem;
}
.popis-aplikace p {
    color: var(--tmavy-text);
    margin-top: 0;
}
.paticka {
    text-align: center;
    background-color: var(--svetly-text);
    color: var(--text-na-pozadi);
    font-size: 0.9rem;
}
.paticka p {
    margin: 0;
    padding: 0.5rem;
}
.hlavicka a:hover,
.hlavicka a:focus {
    background-color: var(--svetly-text);
    color: #e5e5e5;;
}
.neoznacene-tlacitko:hover,
.neoznacene-tlacitko:focus {
    background-color: var(--svetly-text);
    color: #e5e5e5;
    border: 0.1rem solid var(--svetly-text);
}
.modre-tlacitko:hover,
.modre-tlacitko:focus {
    background-color: transparent;
    color: #e5e5e5;
    border: 0.1rem solid #e5e5e567;
}
@media screen and (min-width: 480px) {
    .hlavicka {
        display: block;
    }
    .hlavicka a {
        display: inline-block;
        min-width: 50px;
    }   
    h1 {
        font-size: 4rem;
    }
    .predstaveni-aplikace p {
        font-size: 2.3rem;
        line-height: 1.4;
    }
    .tlacitka a {
        display: inline-block;
        padding: 0.7rem 1.5rem;
        font-size: 1.2rem;
        margin-right: 1rem;
    }
    .popis-aplikace {
        display: flex;
        justify-content: space-between;
    }
    .popis {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 30%;
    }
    .popis img {
        order: -1;
        margin-top: 1rem;
    }
}
@media screen and (min-width: 740px) {
    .mobil {
        display: initial;
        width: 320px;
        height: 320px;
        margin-bottom: -1rem;
        margin-top: -0.8rem;
    }
    .predstaveni-aplikace {
        display: flex;
        padding: 1rem 0 1rem 1.5rem;
        align-items: flex-end;
    }
    .predstaveni-aplikace-leva-cast {
        margin-bottom: auto;
    }
    .predstaveni-aplikace p {
        max-width: 80%;
    }
}
