/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */
:root {
    --text-na-pozadi: #ffffff;
    --tmavy-text: #25133d;
    --svetly-text: #48418e;
}
.obal {
    width: auto;
}
.hlavicka {
    display: flex;
    flex-wrap: wrap;   
    font-weight: 300;
}
.hlavicka-tucne {
    font-weight: 700;
}
.hlavicka a {
    display: block;
    text-decoration: none;
    color: var(--tmavy-text);
    min-width: 50%;
    min-height: 40px;
    text-align: center;
    padding: 0.5rem 1.5rem;
    flex: 1;
}
.predstaveni-aplikace {
    background-image: url(images/pozadi.jpg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: left;
    color: var(--text-na-pozadi);
    padding: 1rem 1.5rem;
}
h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}
.mobil {
    display: none;
}
.tlacitka a {
    display: block;
    text-decoration: none;
    color: var(--text-na-pozadi);
    border: 0.1rem solid var(--text-na-pozadi);
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.555);
    text-align: center;
    margin: 1rem 0;
}
.modre-tlacitko {
    background-color: var(--svetly-text);
}
.popis-aplikace {
    text-align: center;
    padding: 1.2rem 0;
    color: var(--svetly-text);
    padding: 0 1.2rem;
}
.popis-aplikace p {
    color: var(--tmavy-text);
    margin-top: 0;
}
.paticka {
    text-align: center;
    background-color: var(--svetly-text);
    color: var(--text-na-pozadi);
    font-size: 0.9rem;
}
.paticka p {
    margin: 0;
    padding: 0.5rem;
}
.hlavicka a:hover,
.hlavicka a:focus {
    background-color: var(--svetly-text);
    color: #e5e5e5;;
}
.neoznacene-tlacitko:hover,
.neoznacene-tlacitko:focus {
    background-color: var(--svetly-text);
    color: #e5e5e5;
    border: 0.1rem solid var(--svetly-text);
}
.modre-tlacitko:hover,
.modre-tlacitko:focus {
    background-color: transparent;
    color: #e5e5e5;
    border: 0.1rem solid #e5e5e567;
}
@media screen and (min-width: 480px) {
    .tlacitka a {
        display: inline-block;
        margin-right: 1rem;
    }
}
@media screen and (min-width: 630px) {
    .hlavicka {
        display: block;
    }
    .hlavicka a {
        display: inline-block;
        min-width: 50px;
    }   
    .predstaveni-aplikace {
        padding: 1rem 2rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
        line-height: 1.4;
    }
    h3 {
        font-size: 1.6rem;
    }
    .tlacitka a {
        padding: 0.8rem 2rem;
        font-size: 1.5rem;
        margin-right: 1.4rem;
    }
    .popis-aplikace {
        display: flex;
        justify-content: space-between;
    }
    .popis {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 30%;
    }
    .popis img {
        order: -1;
        margin-top: 1rem;
    }
}
/* @media screen and (min-width: 480px) {
    .predstaveni-aplikace {
        padding: 2rem;
    }
    h1 {
        font-size: 4.8rem;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    .tlacitka {
        margin-bottom: 1rem;
    }
    .tlacitka a {
        flex-grow: 0;
        padding: 0.8rem 1.7rem;
        font-size: 1.2rem;
    }
    .popis-aplikace {
        padding: 2rem;
    }
}
@media screen and (min-width: 700px){
    .hlavicka {
        flex-wrap: nowrap;
        justify-content: left;
    }
    .hlavicka a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        flex-grow: 0;
        padding: 0 2rem;
        min-height: 50px;
    }   
}
@media screen and (min-width: 860px) {
    .hlavicka {
        padding: 1rem 2.4rem;
    }
    .hlavicka p {
        flex-basis: 170px;
    }
    .vlastnosti-aplikace {
        min-width: 400px;
    }
    .predstaveni-aplikace {
        padding: 2.4rem;
    }
    h1 {
        font-size: 5.5rem;
    }
    h2 {
        font-size: 2.3rem;
        margin-bottom: 3.2rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .tlacitka a {
        padding: 0.9rem 1.9rem;
        font-size: 1.3rem
    }
    .modre-tlacitko {
        margin-right: 1.3rem;
    }
    .popis-aplikace {
        padding: 2.4rem;
        display: flex;
        justify-content: space-between;
    }
    .popis {
        max-width: calc(1/3.2 * 100%);
    }
}
@media screen and (min-width: 960px) {
    .obal {
        width: 960px;
    }
    .predstaveni-aplikace {
        position: relative;
    }
    .mobil {
        display: initial;
        position: absolute;
        bottom: 0;
        right: 0;
        height: initial;
        width: initial;
        
    }
} */